<ion-content [fullscreen]="true">
  
  <ion-header class="ion-no-border">
    <img src="assets/pattern-bg.png" alt="Background">

    <ion-toolbar>
      <ion-title>IP Address Tracker</ion-title>
      <form>
        <input type="text" placeholder="Search from any IP address or domain">
        <button>
          <ion-icon slot="icon-only" src="assets/icon-arrow.svg"></ion-icon>
        </button>
      </form>
      <div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
      </div>
    </ion-toolbar>
  </ion-header>

</ion-content>